.App {
  text-align: center;
  background-image: url(../public/img/background.jpg);
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
  height: 100vh;
  padding: 0 0;
}
.header {
  background-color: rgba(0, 0, 0, 0.37);
  height: 50px;
  width: 100%;
}
.tester {
  position: relative;
  width: 500px;
}
.glassToTest {
  position: absolute;
  top: 58px;
  left: 190px;
}
a {
  cursor: pointer;
}
.glassTest {
  width: 120px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
